name: E2E Tests
on:
   # Run on any commit to the #master branch
   push:
      branches: [master, develop]
   # Run on pull requests into the #master branch
   pull_request:
      branches: [master, develop]
   # Allows user to trigger the workflow from GitHub's web UI
   workflow_dispatch:

jobs:
   cypress-test:
      name: Run Tests
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
          with:
            submodules: recursive 
            path: ab_service_definition_manager
        - uses: digi-serve/ab-install-action@service-build
        - name: Run Cypress Tests
          uses: cypress-io/github-action@v2
          with:
            working-directory: ./AppBuilder
            project: ./test/e2e
            config: baseUrl=http://localhost:80,testFiles=**/*.js,responseTimeout=100000,defaultCommandTimeout=30000,retries=2
            install: false
            browser: chrome
